@font-face {
  font-family: 'ProximaNovaThin';
  src: url("./fonts/ProximaNovaThin.ttf");
}

@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url("./fonts/ProximaNovaSemibold.ttf");
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url("./fonts/ProximaNovaBold.ttf");
}

* {
  font-family: 'ProximaNovaThin';
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

.overflow-wrap {
  background: black;
}

.sidebar {
  display: none;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  position: fixed;
  width: 80px;
  background: white;
  opacity: 0.9;
  top: 30%;
  left: 20px;
  top: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10000;
  border-radius: 5px;
}

.page-link {
  color: white;
  cursor: pointer;
}

.pSkillIcon img {
  height: 20px;
  width: 20px;
}

.intro {
  color: white;
  font-size: 36px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  font-family: 'ProximaNovaSemiBold';
}

.intro2 {
  color: white;
  font-size: 24px;
  position: absolute;
  left: 50%;
  top: 58%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

section {
  height: 100vh;
}

#profile {
  background: black;
  opacity: 0.9;
  margin: 0 200px 200px 200px;
  padding: 40px;
  height: 80vh;
}

#profile .heading {
  font-size: 18px;
  color: white;
}

.portfolio {
  --slides-per-page: 6;
  margin: 0;
  overflow: hidden;
  height: 60vh;
  color: white;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  width: 33%;
  margin-top: 20px;
}

.card h1 {
  color: white;
}

#hero-slides {
  --page: 0;
  height: 100vh;
}

#hero-slides #header {
  height: 12vh;
  line-height: 12vh;
  padding: 0 3vw;
  position: relative;
}

#hero-slides #header #logo {
  font-size: 2.5vh;
  font-style: italic;
}

#hero-slides #header #logo:before {
  content: 'The';
  text-transform: uppercase;
  font-weight: 100;
  margin-right: 0.4em;
}

#hero-slides #header #logo:after {
  content: 'Wall';
  text-transform: uppercase;
  font-weight: 800;
}

#hero-slides #header #menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  padding: 0 3vw;
}

#hero-slides #header #menu:before {
  font-size: 1.75vh;
  content: 'Play Demo';
  margin-right: 0.5em;
  text-transform: uppercase;
}

#hero-slides #header #menu #hamburger {
  display: inline-block;
}

#hero-slides #header #menu #hamburger .slice {
  background: white;
  height: 0.2vh;
  width: 1vw;
}

#hero-slides #header #menu #hamburger .slice:not(:last-child) {
  margin-bottom: 0.5vh;
}

#hero-slides #slides-cont {
  position: relative;
  --button-height: 4vh;
  --button-spacing: 0.2vh;
}

#hero-slides #slides-cont .button {
  width: 5vw;
  height: var(--button-height);
  background: #0d96f2;
  position: absolute;
  right: 5.375vw;
  top: 30vh;
  z-index: 100;
  cursor: pointer;
}

#hero-slides #slides-cont .button:before, #hero-slides #slides-cont .button:after {
  line-height: 4vh;
  position: absolute;
  margin-left: -0.25vw;
  pointer-events: none;
  -webkit-transform: scale(0.75, 1.5);
          transform: scale(0.75, 1.5);
  -webkit-transition: 125ms ease-in-out;
  transition: 125ms ease-in-out;
}

#hero-slides #slides-cont .button:before {
  left: 50%;
}

#hero-slides #slides-cont .button:after {
  opacity: 0;
}

#hero-slides #slides-cont .button:hover:before, #hero-slides #slides-cont .button:hover:after {
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

#hero-slides #slides-cont .button:hover:before {
  opacity: 0;
}

#hero-slides #slides-cont .button:hover:after {
  left: 50% !important;
  opacity: 1;
}

#hero-slides #slides-cont #next {
  margin-top: calc(-1 * (var(--button-height) + var(--button-spacing)));
}

#hero-slides #slides-cont #next:before, #hero-slides #slides-cont #next:after {
  content: '>';
}

#hero-slides #slides-cont #next:after {
  left: 30%;
}

#hero-slides #slides-cont #next:hover:before {
  left: 70%;
}

#hero-slides #slides-cont #prev {
  margin-top: 5vh;
  opacity: calc(var(--page) + 0.5);
  -webkit-transition: 500ms opacity;
  transition: 500ms opacity;
}

#hero-slides #slides-cont #prev:before, #hero-slides #slides-cont #prev:after {
  content: '<';
}

#hero-slides #slides-cont #prev:after {
  left: 70%;
}

#hero-slides #slides-cont #prev:hover:before {
  left: 30%;
}

#hero-slides #slides-cont #next-catch,
#hero-slides #slides-cont #prev-catch {
  width: 10vw;
  height: 76vh;
  position: absolute;
  top: 0;
  z-index: 90;
}

#hero-slides #slides-cont #next-catch {
  right: 0;
}

#hero-slides #slides-cont #prev-catch {
  left: 0;
}

#hero-slides #slides {
  --slides-height: 60vh;
  width: auto;
  height: var(--slides-height);
  padding: 0 10vw;
  font-size: 0;
  white-space: nowrap;
  position: absolute;
  -webkit-transform: translate3D(calc(var(--page) * -80vw), 0, 0);
          transform: translate3D(calc(var(--page) * -80vw), 0, 0);
  -webkit-transition: 1500ms -webkit-transform cubic-bezier(0.7, 0, 0.3, 1);
  transition: 1500ms -webkit-transform cubic-bezier(0.7, 0, 0.3, 1);
  transition: 1500ms transform cubic-bezier(0.7, 0, 0.3, 1);
  transition: 1500ms transform cubic-bezier(0.7, 0, 0.3, 1), 1500ms -webkit-transform cubic-bezier(0.7, 0, 0.3, 1);
}

#hero-slides #slides .slide {
  display: inline-block;
  vertical-align: top;
  font-size: 1.5vw;
  width: 16em;
  height: var(--slides-height);
  margin: 0 1.333em;
  background: #101419;
  color: white;
  background-size: cover;
  background-position: center;
  white-space: normal;
  word-break: break-word;
  position: relative;
}

#hero-slides #slides .slide:before {
  content: '';
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(86, 97, 108, 0)), to(rgba(33, 52, 69, 0.7)));
  background: linear-gradient(180deg, rgba(86, 97, 108, 0) 0%, rgba(33, 52, 69, 0.7) 100%);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#hero-slides #slides .slide .number {
  position: absolute;
  top: 2em;
  left: 2em;
  -webkit-filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.5));
}

#hero-slides #slides .slide .number, #hero-slides #slides .slide .number:before, #hero-slides #slides .slide .number:after {
  vertical-align: middle;
}

#hero-slides #slides .slide .number:before, #hero-slides #slides .slide .number:after {
  display: inline-block;
  content: '';
  height: 0.133em;
  margin-top: -0.2em;
  background: white;
}

#hero-slides #slides .slide .number:before {
  width: 0;
  margin-left: 0;
}

#hero-slides #slides .slide .number:after {
  width: 3em;
  margin-left: 1em;
}

#hero-slides #slides .slide .body {
  position: absolute;
  bottom: 2em;
  left: 2em;
  right: 2em;
}

#hero-slides #slides .slide .location,
#hero-slides #slides .slide .headline {
  position: relative;
  bottom: 0;
  cursor: default;
}

#hero-slides #slides .slide:before,
#hero-slides #slides .slide .number:before,
#hero-slides #slides .slide .number:after,
#hero-slides #slides .slide .location,
#hero-slides #slides .slide .headline,
#hero-slides #slides .slide .link {
  -webkit-transition: 375ms cubic-bezier(0.7, 0, 0.3, 1);
  transition: 375ms cubic-bezier(0.7, 0, 0.3, 1);
}

#hero-slides #slides .slide .location {
  font-weight: 100;
  margin-bottom: 1.5em;
  -webkit-transition-delay: 60ms;
          transition-delay: 60ms;
  color: #fff;
}

#hero-slides #slides .slide .headline {
  color: #fff;
  font-size: 1.2em;
  font-weight: 900;
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}

#hero-slides #slides .slide .link {
  display: inline-block;
  background: #0d96f2;
  color: white;
  padding: 0.5em 1.25em;
  font-size: 1.33em;
  opacity: 0;
  position: absolute;
  bottom: -2em;
  pointer-events: none;
  -webkit-transition-delay: 25ms;
          transition-delay: 25ms;
}

#hero-slides #slides .slide.hover:before, #hero-slides #slides .slide:hover:before {
  opacity: 1;
}

#hero-slides #slides .slide.hover:before,
#hero-slides #slides .slide.hover .number:before,
#hero-slides #slides .slide.hover .number:after,
#hero-slides #slides .slide.hover .location,
#hero-slides #slides .slide.hover .headline,
#hero-slides #slides .slide.hover .link, #hero-slides #slides .slide:hover:before,
#hero-slides #slides .slide:hover .number:before,
#hero-slides #slides .slide:hover .number:after,
#hero-slides #slides .slide:hover .location,
#hero-slides #slides .slide:hover .headline,
#hero-slides #slides .slide:hover .link {
  -webkit-transition: 500ms cubic-bezier(0.7, 0, 0.3, 1);
  transition: 500ms cubic-bezier(0.7, 0, 0.3, 1);
}

#hero-slides #slides .slide.hover .number:before, #hero-slides #slides .slide:hover .number:before {
  width: 3em;
  margin-right: 1em;
}

#hero-slides #slides .slide.hover .number:after, #hero-slides #slides .slide:hover .number:after {
  width: 0;
  margin-right: 0;
}

#hero-slides #slides .slide.hover .location, #hero-slides #slides .slide:hover .location {
  -webkit-transition-delay: 0;
          transition-delay: 0;
  bottom: 4em;
}

#hero-slides #slides .slide.hover .headline, #hero-slides #slides .slide:hover .headline {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
  bottom: 3em;
}

#hero-slides #slides .slide.hover .link, #hero-slides #slides .slide:hover .link {
  bottom: 0;
  opacity: 1;
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
  pointer-events: auto;
}

#hero-slides #footer {
  height: 12vh;
  font-size: 1vh;
}

#contact {
  background: black;
  opacity: 0.9;
  margin: 0 200px 200px 200px;
  padding: 40px;
  color: white;
}

#contact .section-title, #contact h1.post-title {
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 28px;
}

#contact .divide20 {
  width: 100%;
  height: 20px;
}

#contact .divide30 {
  width: 100%;
  height: 30px;
}

#contact .alert {
  padding: 15px;
  padding-bottom: 13px;
  margin-bottom: 20px;
  border-width: 2px;
  border-radius: 0;
  background: none;
}

#contact .forms {
  position: relative;
  padding: 0;
  width: 100%;
}

#contact .form-container .response {
  display: none;
}

#contact label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

#contact input[type="text"], #contact input[type="password"], #contact input[type="datetime"], #contact input[type="datetime-local"], #contact input[type="date"], #contact input[type="month"], #contact input[type="time"], #contact input[type="week"], #contact input[type="number"], #contact input[type="email"], #contact input[type="url"], #contact input[type="search"], #contact input[type="tel"], #contact input[type="color"], #contact .uneditable-input {
  width: 100%;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  height: 44px;
  padding: 0 10px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 26px;
  font-weight: 500;
  border: 0;
  color: #848484;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background: none;
  resize: none;
  vertical-align: middle;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
}

#contact textarea {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  margin-bottom: 20px;
  min-height: 234px;
  resize: vertical;
}

#contact .btn, #contact .btn-submit {
  color: #aaaaaa !important;
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 10px;
  margin-right: 4px;
  font-size: 12px;
  padding: 9px 17px;
  font-weight: 800;
  text-shadow: none;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: inline-block;
}

.col {
  color: white;
}
/*# sourceMappingURL=style.css.map */