@font-face {
  font-family: 'ProximaNovaThin';
  src: url("./fonts/ProximaNovaThin.ttf");
}

@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url("./fonts/ProximaNovaSemibold.ttf");
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url("./fonts/ProximaNovaBold.ttf");
}

.skillIcon img {
  width: 80px;
  height: 80px;
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-20deg);
    transform: perspective(400px) rotateY(-20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotateY(-5deg);
    transform: perspective(400px) rotateY(5deg);
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    opacity: 1;
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-20deg);
    transform: perspective(400px) rotateY(-20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotateY(-5deg);
    transform: perspective(400px) rotateY(5deg);
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    opacity: 1;
  }
}

@-webkit-keyframes popDown {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@keyframes popDown {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes toBottomFromTop {
  49% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes toBottomFromTop {
  49% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

@-webkit-keyframes popIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #000;
  color: #fff;
  font-family: 'ProximaNovaThin';
  text-align: center;
  margin: 0px;
  font-size: 8pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

input, button {
  font-family: 'ProximaNovaThin';
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 60%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.disable-hover {
  pointer-events: none;
}

.overflow-wrap {
  overflow-x: hidden;
}

.button {
  padding: 10px 20px;
  border: 2px solid #fff;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: inline-block;
  font-size: 13pt;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}

.button:hover {
  background-color: #04C2C9;
  border-color: #04C2C9;
}

.button .mdi {
  vertical-align: middle;
}

.bold {
  font-family: 'ProximaNovaBold';
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.highlight {
  color: #006ac0;
}

.header {
  font-size: 25pt;
  font-family: 'ProximaNovaBold';
  position: relative;
  color: #444649;
  position: relative;
}

.header-bar {
  margin: 25px 0 75px 0;
  width: 70px;
  height: 4px;
  background: #444649;
}

.label {
  font-size: 14pt;
  font-weight: 500;
}

.resume {
  background: #455261;
  height: 100px;
}

nav {
  bottom: 0;
  left: 0;
  position: absolute;
  height: 50px;
  width: 100%;
  text-align: left;
  z-index: 99;
}

nav.fixed {
  top: 0;
  bottom: inherit;
  left: 0;
  position: fixed;
}

nav.fixed.desk {
  -webkit-animation: popDown .5s;
          animation: popDown .5s;
}

nav .link-wrap {
  max-width: 1200px;
  width: 100%;
  position: absolute;
  top: 53px;
  background: #333;
  overflow: hidden;
  height: 0;
  -webkit-transition: height .3s ease-out;
  transition: height .3s ease-out;
}

nav .link-wrap.visible {
  height: 220px;
}

nav .link-wrap div {
  padding: 12px 20px;
  font-size: 12pt;
  cursor: pointer;
  -webkit-transition: color .5s;
  transition: color .5s;
  text-transform: uppercase;
}

nav .link-wrap div:first-child {
  padding: 25px 20px 12px 20px;
}

nav .link-wrap div:hover {
  color: #006ac0;
}

nav .mdi-menu {
  position: absolute;
  right: 5vw;
  margin: auto 0;
  font-size: 30pt;
  line-height: 36pt;
  top: 0;
}

nav .active {
  color: #006ac0;
}

.carousel-wrap {
  position: relative;
  height: 250px;
  margin: 0 auto;
}

.window {
  overflow: hidden;
  position: relative;
  background: #222;
}

#carousel {
  width: 10000px;
  position: relative;
  top: 0;
}

.mdi-chevron-left, .mdi-chevron-right {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14pt !important;
  font-weight: bold;
  color: #fff;
}

.mdi-chevron-left {
  left: 0;
}

.mdi-chevron-right {
  right: 0;
}

.transition {
  -webkit-transition: .7s;
  transition: .7s;
}

.modal-wrap {
  height: 100vh;
  width: 100vw;
  position: fixed;
  pointer-events: none;
  z-index: 100;
}

.modal-wrap .mask {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.modal-wrap .modal {
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333;
  height: 100vh;
}

.modal-wrap .close {
  bottom: 25px;
  right: 10px;
  color: #bbb;
  font-size: 20pt;
  position: absolute;
  font-weight: 800;
  cursor: pointer;
}

.modal-wrap .info-box {
  border-top: 3px solid #005dce;
  padding: 15px 10px 85px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #444;
}

.modal-wrap .title {
  font-size: 16pt;
  line-height: 20pt;
  font-family: 'ProximaNovaBold';
}

.modal-wrap .tag {
  display: block;
  font-weight: 300;
  color: #c0c0c0;
  font-family: 'ProximaNovaBold';
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
  font-size: 8pt;
}

.modal-wrap .detail {
  font-size: 9pt;
  line-height: 14pt;
  margin-top: 13px;
}

.modal-wrap .mdi-open-in-new {
  position: relative;
  left: -10px;
  font-size: 11pt;
}

.modal-wrap .button {
  padding: 11px 30px;
  font-size: 10pt;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  background: #006ac0;
  color: #fff;
  font-weight: 600;
  border: 0;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  bottom: 20px;
  left: 10px;
}

.modal-wrap .button.visible {
  pointer-events: initial;
  visibility: visible;
}

.modal-wrap .button:hover {
  color: #006ac0;
  background: #fff;
}

.modal-wrap .carousel {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
}

.modal-wrap.visible {
  pointer-events: initial;
}

.modal-wrap.visible .modal {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.modal-wrap.visible .mask {
  opacity: 1;
}

section {
  padding: 70px 0 70px 0;
  color: #616161;
  line-height: 11pt;
  position: relative;
}

section .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  padding: 0 10px;
  background: #000;
  color: #fff;
  height: calc(100vh);
}

section .highlight {
  font-family: 'ProximaNovaSemibold';
}

section .text {
  margin: 0 0 20px 0;
  font-size: 16pt;
  line-height: 20pt;
  z-index: 1;
  pointer-events: none;
}

section .hexagon {
  -webkit-transition: -webkit-transform .9s ease-in-out;
  transition: -webkit-transform .9s ease-in-out;
  transition: transform .9s ease-in-out;
  transition: transform .9s ease-in-out, -webkit-transform .9s ease-in-out;
}

section .hexagon:hover {
  -webkit-transform: rotate(540deg);
          transform: rotate(540deg);
}

section .button {
  padding: 12px 40px 12px 15px;
  position: relative;
  margin-bottom: 53px;
}

section .button .mdi {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  position: absolute;
  right: 15px;
  top: 11px;
}

section .button:hover .mdi {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

section:nth-of-type(2) .label-wrap .label {
  margin: 20px 0 10px 0;
}

section:nth-of-type(2) .bullet-wrap {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 7px;
  height: 200px;
}

section:nth-of-type(2) .highlight {
  color: #009ADA;
}

section:nth-of-type(2) .up-arrow {
  margin: 15px 0;
  height: 30px;
}

section:nth-of-type(2) .skills-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

section:nth-of-type(2) .skills-wrapper .me {
  height: 200px;
}

section:nth-of-type(2) .skills-wrapper .label {
  margin: 20px 0 15px 0;
}

section:nth-of-type(2) .hexagon i {
  position: absolute;
  top: 20px;
  font-size: 34pt;
  color: #fff;
  left: 0;
  right: 0;
  z-index: 1;
}

section:nth-of-type(2) .bars-wrap {
  margin: 50px auto 0 auto;
  width: calc(100% - 15px);
  max-width: 90%;
}

section:nth-of-type(2) .bars-wrap:not(.animated) .fill {
  width: 0 !important;
}

section:nth-of-type(2) .bar {
  color: #666;
  height: 22px;
  position: relative;
  background-color: #eee;
  margin: 0 0 12px 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 7pt;
}

section:nth-of-type(2) .bar:nth-child(1) .fill {
  -webkit-transition: 1.1s 0.2s width ease-in-out;
  transition: 1.1s 0.2s width ease-in-out;
}

section:nth-of-type(2) .bar:nth-child(2) .fill {
  -webkit-transition: 1.2s 0.2s width ease-in-out;
  transition: 1.2s 0.2s width ease-in-out;
}

section:nth-of-type(2) .bar:nth-child(3) .fill {
  -webkit-transition: 1.3s 0.2s width ease-in-out;
  transition: 1.3s 0.2s width ease-in-out;
}

section:nth-of-type(2) .bar:nth-child(4) .fill {
  -webkit-transition: 1.4s 0.2s width ease-in-out;
  transition: 1.4s 0.2s width ease-in-out;
}

section:nth-of-type(2) .bar:nth-child(5) .fill {
  -webkit-transition: 1.5s 0.2s width ease-in-out;
  transition: 1.5s 0.2s width ease-in-out;
}

section:nth-of-type(2) .bar:nth-child(6) .fill {
  -webkit-transition: 1.6s 0.2s width ease-in-out;
  transition: 1.6s 0.2s width ease-in-out;
}

section:nth-of-type(2) .bar:nth-child(7) .fill {
  -webkit-transition: 1.7s 0.2s width ease-in-out;
  transition: 1.7s 0.2s width ease-in-out;
}

section:nth-of-type(2) .bar:nth-child(8) .fill {
  -webkit-transition: 1.8s 0.2s width ease-in-out;
  transition: 1.8s 0.2s width ease-in-out;
}

section:nth-of-type(2) .bar:nth-child(9) .fill {
  -webkit-transition: 1.9s 0.2s width ease-in-out;
  transition: 1.9s 0.2s width ease-in-out;
}

section:nth-of-type(2) .bar:nth-child(10) .fill {
  -webkit-transition: 2s 0.2s width ease-in-out;
  transition: 2s 0.2s width ease-in-out;
}

section:nth-of-type(2) .bar span {
  display: none;
}

section:nth-of-type(2) .bar.fill {
  top: 0;
  left: 0;
  position: absolute;
  background-color: #00A1A7;
  padding: 0;
  opacity: 1;
}

section:nth-of-type(2) .bar .tag {
  top: 0;
  left: 0;
  position: absolute;
  background-color: #04C2C9;
  color: #fff;
  height: 100%;
  width: 110px;
  width: 70px;
}

section:nth-of-type(2) .bar.secondary {
  background-color: #C51675;
}

section:nth-of-type(2) .bar.secondary .tag {
  background-color: #006ac0;
}

section:nth-of-type(2) .bar span {
  z-index: 1;
  padding: 0 15px 0 0;
}

section#portfolio {
  padding-top: 100px;
  background: #000;
  color: white;
}

section#portfolio .container {
  padding: 0;
}

section#portfolio .filter {
  font-size: 6pt;
  font-weight: 600;
  padding: 0 20px;
  cursor: pointer;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

section#portfolio .float-bar {
  top: 0;
  bottom: 0;
  left: 30px;
  position: absolute;
  margin: auto 0;
  position: absolute;
  overflow: hidden;
  height: 25px;
  border-radius: 1px;
  background: #006ac0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

section#portfolio .float-bar .row {
  top: 0;
  bottom: 0;
  left: -30px;
  position: absolute;
  margin: auto 0;
  -webkit-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out;
}

section#portfolio .float-bar .row .filter {
  color: #fff;
}

section#portfolio .text {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

section#portfolio #gallery {
  margin: 100px;
  margin-top: 0px;
}

section#portfolio #gallery .text, section#portfolio #gallery .button {
  z-index: 2;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #005dce;
}

section#portfolio #gallery .text .bold, section#portfolio #gallery .button .bold {
  font-size: 16pt;
}

section#portfolio #gallery .button {
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  border: 2px solid #006ac0;
  width: 170px;
  margin: 0 auto;
  font-size: 13pt;
  padding: 7px 0;
}

section#portfolio #gallery .mix {
  position: relative;
}

section#portfolio #gallery .mix .waypoint {
  background: #fff;
}

section#portfolio #gallery .mix .button:hover {
  background: #006ac0;
  color: #fff;
}

section#portfolio #gallery .mix:nth-child(1) .card {
  background: url("../img/thumb-1.jpg") center center/cover;
}

section#portfolio #gallery .mix:nth-child(2) .card {
  background: url("../img/thumb-2.jpg") center center/cover;
}

section#portfolio #gallery .mix:nth-child(3) .card {
  background: url("../img/thumb-3.jpg") center center/cover;
}

section#portfolio #gallery .mix:nth-child(4) .card {
  background: url("../img/thumb-4.jpg") center center/cover;
}

section#portfolio #gallery .mix:nth-child(5) .card {
  background: url("../img/thumb-5.jpg") center center/cover;
}

section#portfolio #gallery .mix:nth-child(6) .card {
  background: url("../img/thumb-6.jpg") center center/cover;
}

section#portfolio #gallery .mix:nth-child(7) .card {
  background: url("../img/thumb-7.jpg") center center/cover;
}

section#portfolio #gallery .mix:nth-child(8) .card {
  background: url("../img/thumb-8.jpg") center center/cover;
}

section#portfolio #gallery .mix:nth-child(9) .card {
  background: url("../img/thumb-9.jpg") center center/cover;
}

section#portfolio #gallery .mix:nth-child(10) .card {
  background: url("../img/thumb-10.jpg") center center/cover;
}

section#portfolio #gallery .mix:nth-child(11) .card {
  background: url("../img/thumb-11.jpg") center center/cover;
}

section#portfolio #gallery .mix:nth-child(12) .card {
  background: url("../img/thumb-12.jpg") center center/cover;
}

section#portfolio #gallery .mix .card {
  height: 200px;
  max-width: 100%;
  width: calc(50vw - 8px);
  cursor: pointer;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

section#portfolio #gallery .mix:hover .card {
  opacity: 0;
}

section#portfolio #gallery .mix:hover .text {
  opacity: 1;
  top: 24%;
}

section#portfolio #gallery .mix:hover .button {
  opacity: 1;
  bottom: 24%;
}

section .flex-50-gt-sm {
  display: block;
}

section:nth-of-type(4) {
  padding: 130px 0 100px 0;
  text-align: left;
}

section:nth-of-type(4) .flex.row-gt-sm, section:nth-of-type(4) .flex.wrap {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section:nth-of-type(4) .gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

section:nth-of-type(4) .label {
  line-height: 14pt;
  font-size: 12pt;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

section:nth-of-type(4) .thumb {
  height: 150px;
  margin: 0 0 15px 0;
}

section:nth-of-type(4) .date {
  font-size: 7pt;
  margin: 5px 0 0 0;
}

section:nth-of-type(4) .bar {
  height: 3px;
  width: 25%;
  background: #04C2C9;
  margin: 10px 0px;
}

section:nth-of-type(4) .text {
  font-size: 9pt;
  line-height: 13pt;
  max-height: 85px;
}

section:nth-of-type(5) {
  background: #252934;
  color: #fff;
  padding-top: 175px;
}

section:nth-of-type(5) .header {
  color: #fff;
}

section:nth-of-type(5) .header-bar {
  margin: 25px 0 40px 0;
  background: #fff;
  width: 110px;
}

section:nth-of-type(5) .highlight {
  font-weight: 600;
  color: #04C2C9;
}

section:nth-of-type(5) svg {
  position: absolute;
  top: 0;
  left: 0;
}

section:nth-of-type(5) form {
  margin: 40px auto 0 auto;
  min-width: 95%;
}

section:nth-of-type(5) input[type="text"], section:nth-of-type(5) input[type="email"], section:nth-of-type(5) textarea {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: 0;
  padding: 10px 15px;
  background: #1E242C;
  font-size: 12pt;
  margin-bottom: 3px;
  color: #fff;
}

section:nth-of-type(5) textarea {
  min-height: 150px;
  margin-bottom: 5px;
}

section:nth-of-type(5) .button {
  float: right;
  margin: 5px 0 0 0;
  font-size: 12pt;
  padding: 10px 30px;
  color: #fff;
  background: transparent;
  outline: 0;
}

section:nth-of-type(5) .button:hover {
  background: #04C2C9;
}

section:nth-of-type(5) #success {
  height: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: height .25s;
  transition: height .25s;
}

section:nth-of-type(5) #success.expand {
  height: 36px;
}

section:nth-of-type(5) #success div {
  background: #04c986;
  color: #157051;
  font-size: 10pt;
  font-weight: 600;
  padding: 5px 0;
  border: 1px solid #157c59;
}

section:nth-of-type(5) #close {
  position: absolute;
  padding: 5px 15px;
  font-size: 12pt;
  font-weight: 600;
  right: 0;
  cursor: pointer;
}

footer {
  position: fixed;
  height: 100px;
  bottom: 20px;
  width: 100%;
}

footer .icon-wrap .icon {
  overflow: hidden;
  -webkit-transition: background 0.3s, color 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: background 0.3s, color 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
  width: 55px;
  height: 55px;
  position: relative;
  text-align: center;
  margin: 0 15px;
  background: #262F38;
  font-size: 18pt;
}

footer .icon-wrap .mdi {
  text-align: center;
  color: #fff;
}

footer .icon-wrap .mdi.mdi-codepen {
  font-size: 20pt;
}

footer .icon-wrap .icon:hover {
  background: #04C2C9;
  -webkit-box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
          box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

footer .icon-wrap .icon:hover .mdi {
  color: #fff;
}

footer .icon-wrap .icon:hover .mdi {
  -webkit-animation: toBottomFromTop 0.3s forwards;
  animation: toBottomFromTop 0.3s forwards;
}

footer .footnote {
  font-size: 10pt;
  color: #fff;
  margin-top: 35px;
}

footer .footnote .highlight {
  color: #006ac0;
}

.focused {
  color: #30aed6;
  border: #30aed6 solid 3px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color: white;
}

#button-blue {
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#button-blue:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #0493bd;
}

.submit:hover {
  color: #3498db;
}

.ease {
  border-top: 3px #3c3c3c solid;
  width: 0px;
  height: 76px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease {
  width: 100%;
  background-color: white;
}

@media only screen and (max-width: 580px) {
  #form-div {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}

.portfolio {
  --slides-per-page: 6;
  margin: 0;
  overflow: hidden;
  height: 60vh;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

#hero-slides {
  --page: 0;
  height: 100vh;
}

#hero-slides #header {
  height: 12vh;
  line-height: 12vh;
  padding: 0 3vw;
  position: relative;
}

#hero-slides #header #logo {
  font-size: 2.5vh;
  font-style: italic;
}

#hero-slides #header #logo:before {
  content: 'The';
  text-transform: uppercase;
  font-weight: 100;
  margin-right: 0.4em;
}

#hero-slides #header #logo:after {
  content: 'Wall';
  text-transform: uppercase;
  font-weight: 800;
}

#hero-slides #header #menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  padding: 0 3vw;
}

#hero-slides #header #menu:before {
  font-size: 1.75vh;
  content: 'Play Demo';
  margin-right: 0.5em;
  text-transform: uppercase;
}

#hero-slides #header #menu #hamburger {
  display: inline-block;
}

#hero-slides #header #menu #hamburger .slice {
  background: white;
  height: 0.2vh;
  width: 1vw;
}

#hero-slides #header #menu #hamburger .slice:not(:last-child) {
  margin-bottom: 0.5vh;
}

#hero-slides #slides-cont {
  position: relative;
  --button-height: 2vh;
  --button-spacing: 0.2vh;
}

#hero-slides #slides-cont .button {
  width: 5vw;
  height: var(--button-height);
  background: #0d96f2;
  position: absolute;
  right: 5.375vw;
  top: 30vh;
  z-index: 100;
  cursor: pointer;
}

#hero-slides #slides-cont .button:before, #hero-slides #slides-cont .button:after {
  line-height: 2vh;
  position: absolute;
  margin-left: -0.25vw;
  pointer-events: none;
  -webkit-transform: scale(0.75, 1.5);
          transform: scale(0.75, 1.5);
  -webkit-transition: 125ms ease-in-out;
  transition: 125ms ease-in-out;
}

#hero-slides #slides-cont .button:before {
  left: 50%;
}

#hero-slides #slides-cont .button:after {
  opacity: 0;
}

#hero-slides #slides-cont .button:hover:before, #hero-slides #slides-cont .button:hover:after {
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

#hero-slides #slides-cont .button:hover:before {
  opacity: 0;
}

#hero-slides #slides-cont .button:hover:after {
  left: 50% !important;
  opacity: 1;
}

#hero-slides #slides-cont #next {
  margin-top: calc(-1 * (var(--button-height) + var(--button-spacing)));
}

#hero-slides #slides-cont #next:before, #hero-slides #slides-cont #next:after {
  content: '>';
}

#hero-slides #slides-cont #next:after {
  left: 30%;
}

#hero-slides #slides-cont #next:hover:before {
  left: 70%;
}

#hero-slides #slides-cont #prev {
  margin-top: 5vh;
  opacity: calc(var(--page) + 0.5);
  -webkit-transition: 500ms opacity;
  transition: 500ms opacity;
}

#hero-slides #slides-cont #prev:before, #hero-slides #slides-cont #prev:after {
  content: '<';
}

#hero-slides #slides-cont #prev:after {
  left: 70%;
}

#hero-slides #slides-cont #prev:hover:before {
  left: 30%;
}

#hero-slides #slides-cont #next-catch,
#hero-slides #slides-cont #prev-catch {
  width: 10vw;
  height: 76vh;
  position: absolute;
  top: 0;
  z-index: 90;
}

#hero-slides #slides-cont #next-catch {
  right: 0;
}

#hero-slides #slides-cont #prev-catch {
  left: 0;
}

#hero-slides #slides {
  --slides-height: 60vh;
  width: auto;
  height: var(--slides-height);
  padding: 0 10vw;
  font-size: 0;
  white-space: nowrap;
  position: absolute;
  -webkit-transform: translate3D(calc(var(--page) * -80vw), 0, 0);
          transform: translate3D(calc(var(--page) * -80vw), 0, 0);
  -webkit-transition: 1500ms -webkit-transform cubic-bezier(0.7, 0, 0.3, 1);
  transition: 1500ms -webkit-transform cubic-bezier(0.7, 0, 0.3, 1);
  transition: 1500ms transform cubic-bezier(0.7, 0, 0.3, 1);
  transition: 1500ms transform cubic-bezier(0.7, 0, 0.3, 1), 1500ms -webkit-transform cubic-bezier(0.7, 0, 0.3, 1);
}

#hero-slides #slides .slide {
  display: inline-block;
  vertical-align: top;
  font-size: 1.5vw;
  width: 24em;
  height: var(--slides-height);
  margin: 0 1.333em;
  background: #101419;
  color: white;
  background-size: cover;
  background-position: center;
  white-space: normal;
  word-break: break-word;
  position: relative;
}

#hero-slides #slides .slide:before {
  content: '';
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(86, 97, 108, 0)), to(rgba(33, 52, 69, 0.7)));
  background: linear-gradient(180deg, rgba(86, 97, 108, 0) 0%, rgba(33, 52, 69, 0.7) 100%);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#hero-slides #slides .slide .number {
  position: absolute;
  top: 2em;
  left: 2em;
  -webkit-filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.5));
}

#hero-slides #slides .slide .number, #hero-slides #slides .slide .number:before, #hero-slides #slides .slide .number:after {
  vertical-align: middle;
}

#hero-slides #slides .slide .number:before, #hero-slides #slides .slide .number:after {
  display: inline-block;
  content: '';
  height: 0.133em;
  margin-top: -0.2em;
  background: white;
}

#hero-slides #slides .slide .number:before {
  width: 0;
  margin-left: 0;
}

#hero-slides #slides .slide .number:after {
  width: 3em;
  margin-left: 1em;
}

#hero-slides #slides .slide .body {
  position: absolute;
  bottom: 2em;
  left: 2em;
  right: 2em;
}

#hero-slides #slides .slide .location,
#hero-slides #slides .slide .headline {
  position: relative;
  bottom: 0;
  cursor: default;
}

#hero-slides #slides .slide:before,
#hero-slides #slides .slide .number:before,
#hero-slides #slides .slide .number:after,
#hero-slides #slides .slide .location,
#hero-slides #slides .slide .headline,
#hero-slides #slides .slide .link {
  -webkit-transition: 375ms cubic-bezier(0.7, 0, 0.3, 1);
  transition: 375ms cubic-bezier(0.7, 0, 0.3, 1);
}

#hero-slides #slides .slide .location {
  font-weight: 100;
  margin-bottom: 1.5em;
  -webkit-transition-delay: 60ms;
          transition-delay: 60ms;
  color: #fff;
}

#hero-slides #slides .slide .headline {
  color: #fff;
  font-size: 2.667em;
  font-weight: 900;
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}

#hero-slides #slides .slide .link {
  display: inline-block;
  background: #0d96f2;
  padding: 0.5em 1.25em;
  font-size: 1.33em;
  opacity: 0;
  position: absolute;
  bottom: -2em;
  pointer-events: none;
  -webkit-transition-delay: 25ms;
          transition-delay: 25ms;
}

#hero-slides #slides .slide.hover:before, #hero-slides #slides .slide:hover:before {
  opacity: 1;
}

#hero-slides #slides .slide.hover:before,
#hero-slides #slides .slide.hover .number:before,
#hero-slides #slides .slide.hover .number:after,
#hero-slides #slides .slide.hover .location,
#hero-slides #slides .slide.hover .headline,
#hero-slides #slides .slide.hover .link, #hero-slides #slides .slide:hover:before,
#hero-slides #slides .slide:hover .number:before,
#hero-slides #slides .slide:hover .number:after,
#hero-slides #slides .slide:hover .location,
#hero-slides #slides .slide:hover .headline,
#hero-slides #slides .slide:hover .link {
  -webkit-transition: 500ms cubic-bezier(0.7, 0, 0.3, 1);
  transition: 500ms cubic-bezier(0.7, 0, 0.3, 1);
}

#hero-slides #slides .slide.hover .number:before, #hero-slides #slides .slide:hover .number:before {
  width: 3em;
  margin-right: 1em;
}

#hero-slides #slides .slide.hover .number:after, #hero-slides #slides .slide:hover .number:after {
  width: 0;
  margin-right: 0;
}

#hero-slides #slides .slide.hover .location, #hero-slides #slides .slide:hover .location {
  -webkit-transition-delay: 0;
          transition-delay: 0;
  bottom: 4em;
}

#hero-slides #slides .slide.hover .headline, #hero-slides #slides .slide:hover .headline {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
  bottom: 1.5em;
}

#hero-slides #slides .slide.hover .link, #hero-slides #slides .slide:hover .link {
  bottom: 0;
  opacity: 1;
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
  pointer-events: auto;
}

#hero-slides #footer {
  height: 12vh;
  font-size: 1vh;
}

#hero-slides #footer #dribbble {
  border-radius: 2vh;
  position: absolute;
  bottom: 4vh;
  right: 4vh;
  -webkit-transition: 300ms cubic-bezier(0.7, 0, 0.3, 1);
  transition: 300ms cubic-bezier(0.7, 0, 0.3, 1);
  padding-left: 1.5vh;
}

#hero-slides #footer #dribbble:before, #hero-slides #footer #dribbble:after {
  vertical-align: middle;
  -webkit-transition: inherit;
  transition: inherit;
}

#hero-slides #footer #dribbble.hover, #hero-slides #footer #dribbble:hover {
  background: #e94e89;
}

#hero-slides #footer #dribbble.hover:before, #hero-slides #footer #dribbble:hover:before {
  opacity: 1;
  -webkit-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}

#hero-slides #footer #dribbble.hover:after, #hero-slides #footer #dribbble:hover:after {
  -webkit-filter: saturate(0%) contrast(200%) brightness(200%) invert(100%);
          filter: saturate(0%) contrast(200%) brightness(200%) invert(100%);
}

.contactWrapper {
  position: absolute;
  top: 35%;
  left: 30%;
  width: 40%;
  height: 400px;
  margin-top: -200px;
  overflow: hidden;
}

.contactWrapper.form-success .container h1 {
  -webkit-transform: translateY(85px);
  transform: translateY(85px);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 400px;
  text-align: center;
}

.container h1 {
  font-size: 22px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
  font-weight: 200;
}

form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

form input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}

form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

form input:focus {
  background-color: white;
  width: 300px;
  color: #006ac0;
}

form button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #006ac0;
  border-radius: 3px;
  width: 280px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

form button:hover {
  background-color: #f5f7f9;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
  }
}

@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
  }
}

.tlayer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none !important;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    display: block;
    margin-bottom: .625em;
  }
  table td {
    display: block;
    font-size: .8em;
    text-align: center;
  }
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}

body {
  font-size: 12pt;
}

.container {
  padding: 0 20px;
}

.header {
  font-size: 30pt;
}

.header-bar {
  margin: 25px 0 100px 0;
}

.label {
  font-size: 18pt;
}

.hex-wrap {
  height: 100px;
  width: 100px;
  margin: auto;
}

.slide, .carousel-wrap {
  height: 450px;
}

.mdi-chevron-left, .mdi-chevron-right {
  font-size: 25pt !important;
}

.modal-wrap .modal {
  top: -6vh;
  height: initial;
}

.modal-wrap .info-box {
  padding: 35px 60px 90px 25px;
}

.modal-wrap .title {
  font-size: 22pt;
  line-height: 30pt;
}

.modal-wrap .tag {
  font-size: 11pt;
}

.modal-wrap .detail {
  font-size: 11pt;
  line-height: 18pt;
  margin-top: 15px;
}

.modal-wrap .close {
  right: 25px;
}

.modal-wrap .button {
  left: 25px;
}

.skillTable td:hover {
  background: #006ac0;
  border-radius: 5px;
}

nav .link-wrap {
  position: initial;
  background: none;
  overflow: visible;
  height: initial;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
}

nav .link-wrap .visible {
  height: initial;
}

nav .link-wrap div {
  margin: 0 20px;
  padding: initial;
  font-size: initial;
  display: inline;
}

nav .link-wrap div:first-child {
  padding: 0;
}

nav .mdi-menu {
  display: none;
}

section {
  line-height: 18pt;
}

section .container {
  padding: 0 10px;
  height: 100%;
}

section:nth-of-type(1) .text {
  font-size: 32pt;
  line-height: 36pt;
}

section:nth-of-type(1) .button {
  padding: 12px 50px 12px 20px;
}

section:nth-of-type(1) .button .mdi {
  top: 16px;
}

section:nth-of-type(2) .label-wrap .label {
  margin: 15px 0 5px 0;
}

section:nth-of-type(2) .label-wrap > div {
  padding: 0 15px;
}

section:nth-of-type(2) .bullet-wrap {
  height: 230px;
}

section:nth-of-type(2) .skills-wrapper > .flex:first-child {
  padding: 0 50px 0 50px;
}

section:nth-of-type(2) .skills-wrapper .me {
  height: 250px;
}

section:nth-of-type(2) .bar {
  height: 28px;
  margin: 0 0 15px 0;
  font-size: 11pt;
}

section:nth-of-type(2) .bar span {
  display: initial;
}

section:nth-of-type(2) .bar .tag {
  width: 110px;
}

section:nth-of-type(2) .hexagon i {
  font-size: 40pt;
}

section#portfolio .filter {
  font-size: 11pt;
  margin: 0 15px;
  padding: 0 30px;
}

section#portfolio .float-bar {
  height: 30px;
}

section#portfolio #gallery .mix .card {
  height: 220px;
}

section:nth-of-type(4) {
  padding: 130px 0 180px 0;
}

section:nth-of-type(4) .label {
  line-height: 22pt;
  font-size: 16pt;
}

section:nth-of-type(4) .date {
  font-size: 8.5pt;
}

section:nth-of-type(4) .bar {
  margin: 15px 0px;
}

section:nth-of-type(4) .text {
  font-size: 11pt;
  line-height: 15pt;
}

section:nth-of-type(4) .thumb {
  height: 200px;
}

section:nth-of-type(5) form {
  min-width: 500px;
}

@media screen and (max-width: 400px) {
  section#portfolio #gallery .mix .card {
    width: 100vw;
  }
}

@media (min-width: 1200px) and (max-width: 1699px) {
  body {
    --slides-per-page: 3;
  }
  #hero-slides #slides .slide {
    font-size: 1vw;
  }
}

@media (min-width: 1700px) {
  body {
    --slide-per-age: 4;
  }
  #hero-slides #slides .slide {
    font-size: 0.75vw;
  }
}

@media screen and (min-width: 960px) {
  .waypoint {
    opacity: 0;
  }
  .animated.waypoint#gallery {
    opacity: 1;
  }
  .animated.waypoint#gallery .mix:nth-child(1) > div {
    opacity: 0;
    -webkit-animation: slideUp 0.75s 0.1s ease both;
            animation: slideUp 0.75s 0.1s ease both;
  }
  .animated.waypoint#gallery .mix:nth-child(2) > div {
    opacity: 0;
    -webkit-animation: slideUp 0.75s 0.2s ease both;
            animation: slideUp 0.75s 0.2s ease both;
  }
  .animated.waypoint#gallery .mix:nth-child(3) > div {
    opacity: 0;
    -webkit-animation: slideUp 0.75s 0.3s ease both;
            animation: slideUp 0.75s 0.3s ease both;
  }
  .animated.waypoint#gallery .mix:nth-child(4) > div {
    opacity: 0;
    -webkit-animation: slideUp 0.75s 0.4s ease both;
            animation: slideUp 0.75s 0.4s ease both;
  }
  .animated.waypoint#gallery .mix:nth-child(5) > div {
    opacity: 0;
    -webkit-animation: slideUp 0.75s 0.5s ease both;
            animation: slideUp 0.75s 0.5s ease both;
  }
  .animated.waypoint#gallery .mix:nth-child(6) > div {
    opacity: 0;
    -webkit-animation: slideUp 0.75s 0.6s ease both;
            animation: slideUp 0.75s 0.6s ease both;
  }
  .animated.slide-up {
    -webkit-animation: slideUp .75s ease both;
            animation: slideUp .75s ease both;
  }
  .animated.slide-down {
    -webkit-animation: slideDown .75s ease both;
            animation: slideDown .75s ease both;
  }
  .animated.slide-in-left {
    -webkit-animation: slideInLeft .75s ease both;
            animation: slideInLeft .75s ease both;
  }
  .animated.slide-in-right {
    -webkit-animation: slideInRight .75s ease both;
            animation: slideInRight .75s ease both;
  }
  .animated.flip-in-x {
    -webkit-animation: flipInX .75s ease both;
            animation: flipInX .75s ease both;
  }
  .animated.fade-in {
    -webkit-animation: fadeIn .75s ease both;
            animation: fadeIn .75s ease both;
  }
  .animated.pop-in {
    -webkit-animation: popIn 1s both;
            animation: popIn 1s both;
  }
  .button {
    font-size: 16pt;
  }
  .flex.row-gt-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .flex-50-gt-sm {
    -ms-flex: 1 1 50%;
    -webkit-box-flex: 1;
            flex: 1 1 50%;
    max-width: 50%;
    max-height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  section#profile {
    background: #000;
  }
  section#profile .bars-wrap {
    margin: 0 0 0 0;
  }
  section#profile .skills-wrapper {
    margin: 50px 0 0 0;
  }
  section#profile .skills-wrapper .me {
    margin: 0;
  }
  section#profile .bar {
    max-width: 90%;
  }
  section#profile .bullet-wrap {
    margin: 0;
    padding: 10px;
    height: intial;
  }
  section#portfolio #gallery .mix .card {
    width: 300px;
  }
  section#portfolio .filter {
    font-size: 13pt;
    padding: 0 40px;
    margin: 0 25px;
  }
}
/*# sourceMappingURL=style.css.map */