@font-face {
  font-family: 'ProximaNovaThin';
  src: url("./fonts/ProximaNovaThin.ttf");
}

@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url("./fonts/ProximaNovaSemibold.ttf");
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url("./fonts/ProximaNovaBold.ttf");
}

* {
  font-family: 'ProximaNovaThin';
 }
 .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
body{
  background: black;
  background-image: url('../img/main.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.sidebar{
  padding-top:20%;
  padding-bottom:20%;
  text-align:center;
  position: fixed;
  width:80px;
  background-color: #ffffff12;
  top:0;
  left:0;
  bottom:0;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:space-between;
}
.page-link{
  color:white;
}
.intro{
  color:white;
  font-size:36px;
  position: absolute;
  left:50%;
  top:50%;
  transform: -50% -50%;
}
section{
  height:100vh;
}